certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.6
dnspython==1.16.0
Flask==1.1.2
Flask-PyMongo==2.3.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
paypalrestsdk==1.13.1
pycparser==2.20
pymongo==3.11.3
pyOpenSSL==20.0.1
pyTelegramBotAPI==3.7.6
requests==2.25.1
six==1.15.0
urllib3==1.26.3
Werkzeug==1.0.1
